

html, body {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: sans-serif;
}

#left-pane, #right-pane {
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

#left-pane {
    background-color: gray;
}
#right-pane {
    background-color: blue;
    white-space: pre-wrap;
    overflow-y: auto;
}

.CodeMirror {
    height: 100%;
}

#compile-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1000;
}

.cm-keyword  { color: #005a2d !important; font-weight: bold !important; }
.cm-atom     { color: #de0000 !important; }
.cm-number   { color: #3f3f3f !important; }
.cm-string   { color: #808085 !important; }
.cm-comment  { color: #c5ae53 !important; font-style: italic !important; }
.cm-operator { color: #000000 !important; }
.cm-variable { color: #b22929 !important; }
.cm-variable-2 { color: #005a2d !important; }
.cm-variable-3 { color: #de0000 !important; }
.cm-bracket  { color: #b22929 !important; }


